<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wpct.mapper.PropertyOrderMapper">
    <update id="updateStatus">UPDATE property_order SET payment_status=true WHERE order_no=#{orderNo}</update>
    <update id="updateStatus1">UPDATE property_order SET payment_status=false WHERE order_no=#{orderNo}</update>
    <update id="updateRid">UPDATE property_order SET rid=#{rid} WHERE order_no=#{id}</update>
    <select id="getById" resultType="PropertyOrderDto">select * from property_order where order_no=#{id}</select>
</mapper>