<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wpct.mapper.RollBackMapper">
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" >
        INSERT INTO rollback(detail,payment_status,uid,time,cost)
                    VALUES (#{r.detail},#{r.paymentStatus},#{r.uid},#{r.time},#{r.cost})

                    </insert>
    <select id="getById" resultType="RollBack">SELECT * FROM rollback WHERE id=#{id}</select>

</mapper>