<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wpct.mapper.WechatUserMapper">
    <select id="getByOpenid" resultType="WechatUser">SELECT * FROM wechat_user WHERE openid=#{openid}</select>
    <insert id="bind">INSERT INTO wechat_user(nickname,name,telephone,openid,hid,relation)
                    VALUES(#{w.nickName},#{w.name},#{w.telephone},#{w.openid},#{w.hid},#{w.relation})</insert>
    <select id="checkBind" resultType="WechatUser">SELECT * FROM wechat_user WHERE openid=#{openid} and hid=#{hid}</select>

    <select id="getWechatUserInfoAndHouseInfo" resultType="com.example.wpct.entity.WechatUser" parameterType="String">
        SELECT
            w.id,w.nickname,w.name,w.telephone,w.openid,w.relation,w.hid,
            h.village_name villageName,h.build_number buildNumber,h.house_no houseNo
        FROM wechat_user w,housing_information h
        where h.id=w.hid
        <if test="telephone != null and telephone !=''">
            and w.telephone like "%"#{telephone}"%"
        </if>
        <if test="name !=null and name !=''">
            and w.name like "%"#{name}"%"
        </if>
    </select>

</mapper>