<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wpct.mapper.WechatUserMapper">
    <select id="getByOpenid" resultType="WechatUser">SELECT * FROM wechat_user WHERE openid=#{openid}</select>
    <insert id="bind">INSERT INTO wechat_user(nickname,name,telephone,openid,hid,relation)
                    VALUES(#{w.nickName},#{w.name},#{w.telephone},#{w.openid},#{w.hid},#{w.relation})</insert>
</mapper>